# Virtual environments
env/
venv/
.env
.venv/

# Log files
*.log
*.logs

# Database files
*.db
*.sqlite
*.sqlite3

# System files
.DS_Store

# Python bytecode and build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# IDE-specific files
.vscode/
.idea/